doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/stylesheets/mainStyle.css')
    link(rel='shortcut icon', href='/favicon.png', type='image/png')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width")
    meta(name="description",content=postHeader)
  body
    div.wrapper-header
      //-div.wrapper-header-top
      div.head-board      
        div.head-row 
          div.wrapper-block
            div.sign
              span 📙 
            div.namer 
              span   !{apxub}
          //- div.subr
          //-   div.emo
          //-     span #{subrEmoji} 
          //-   div.board
          //-     span #{subr}
      div.head-title
        //- hr
        //- h1= postHeader
        //- hr

    block content
  footer