extends layoutPost

block content
  .content
    .left-block
      .post !{postImg}
        .postText !{postText}  
        .answer
          a(href="#bottom") Ответить
      .post_info
        
        .score
          a.scoreUp(onclick="scoreUp(this);") ⇧
          a.dispScore !{postScore}
          a.scoreDown(onclick="scoreDown(this);") ⇩
        .author
          span !{postAuthor}          
        .datetime
          span !{postDatetime}
      .social !{soc}
      .comments(id="commentsBlock") !{expand}
      form.posting
        a(name="bottom")
        textarea.userMessage(placeholder=" Ваш комментарий" rows="8")
        input.userName(placeholder=" Ваше имя" type="text")
        input.sendMessage(type = "submit" onclick="sendPost(); reset(); return false")   
      .social !{soc}
    .right-block
      .top
        p Рекомендуемые статьи
        ul.similar
          li Статья
          li Статья
          li Статья
          li Статья
          li Статья
          li Статья
          li Статья
      .down


block h
  div.head-title
    //hr
    h1= postHeader
    //hr