extends layoutPost

block content
  .content
    .left-block
      .post !{postImg}
        .postText !{postText}  
      .post_info
        
        .score
          a(id="scoreUp") ⇧ 
          a !{postScore}
          a(id="scoreDown") ⇩
        .author
          span !{postAuthor}
          .social !{soc}
        .datetime
          span !{postDatetime}
      .comments(id="commentsBlock") !{expand}
      form.posting
        textarea.userMessage(placeholder=" Ваш комментарий" rows="8" id="userMessage")
        input.userName(placeholder=" Ваше имя" type="text" id="userName")
        input.sendMessage(type = "submit" onclick="sendPost(); reset(); return false")   
      .social !{soc}
    .right-block
      .top
        p Рекомендуемые статьи
        ul.similar
          li Статья
          li Статья
          li Статья
          li Статья
          li Статья
          li Статья
          li Статья
      .down


block h
  div.head-title
    //hr
    h1= postHeader
    //hr